<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <div th:replace="fragments.html :: main-nav"></div>

        <section class="netflix-bg text-align" >
            <div class="netflix-overlay">
                            <div class="container"  style="color: #eeeeee">

                                <h1 style="text-align: center">넷플프렌즈</h1>
                                <p  style="color: #eeeeee; text-align: center">
                                    넷플릭스 및 OTT 플랫폼 파티를 찾아보세요<br/>
                                </p>
                                <p style="text-align: center">
                                    <a th:href="@{/sign-up}" class="btn btn-primary" >회원 가입</a>
                                </p>
                            </div>


            </div>
    </section>
    <div class="container">
        <div class="row justify-content-center pt-5">
            <div th:replace="fragments.html :: party-list (partyList=${partyList})"></div>
        </div>
    </div>
    <div th:replace="fragments.html :: footer"></div>
    <div th:replace="fragments.html :: date-time"></div>
</body>
</html>