<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <div th:replace="fragments.html :: main-nav"></div>
    <div class="alert alert-warning" role="alert" th:if="${account != null && !account?.emailVerified}">
        파티올레 가입을 완료하려면 <a href="#" th:href="@{/check-email(email=${account.email})}" class="alert-link">계정 인증 이메일을 확인</a>하세요.
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-2">
                <h5 class="font-weight-light">관심 파티 주제</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:each="tag: ${account.tags}">
                        <i class="fa fa-tag"></i> <span th:text="${tag.title}"></span>
                    </li>
                    <li class="list-group-item" th:if="${account.tags.size() == 0}">
                        <a th:href="@{/settings/tags}" class="btn-text">관심 파티 주제</a>를 등록하세요.
                    </li>
                </ul>
                <h5 class="mt-3 font-weight-light">주요 활동 플랫폼</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:each="platform: ${account.platforms}">
                        <i class="fa fa-globe"></i> <span th:text="${platform.getKoreanNameOfPlatform()}">Platform</span>
                    </li>
                    <li class="list-group-item" th:if="${account.platforms.size() == 0}">
                        <a th:href="@{/settings/platforms}" class="btn-text">주요 활동 플랫폼</a>을 등록하세요.
                    </li>
                </ul>
            </div>
            <div class="col-md-7">
                <h5 class="font-weight-light mt-3" th:if="${#lists.isEmpty(partyList)}">관련 파티가 없습니다.</h5>
                <h5 class="font-weight-light mt-3" th:if="${!#lists.isEmpty(partyList)}">주요 활동 플랫폼의 관심 주제 파티</h5>
                <div class="row justify-content-center">
                    <div th:replace="fragments.html :: party-list (partyList=${partyList})"></div>
                </div>
            </div>
            <div class="col-md-3">
                <h5 class="font-weight-light" th:if="${#lists.isEmpty(partyManagerOf)}">관리중인 파티가 없습니다.</h5>
                <h5 class="font-weight-light" th:if="${!#lists.isEmpty(partyManagerOf)}">관리중인 파티</h5>
                <div class="list-group" th:if="${!#lists.isEmpty(partyManagerOf)}">
                    <a href="#" th:href="@{'/party/' + ${party.path}}" th:text="${party.title}"
                       class="list-group-item list-group-item-action" th:each="party: ${partyManagerOf}">
                        Party title
                    </a>
                </div>

                <h5 class="font-weight-light mt-3" th:if="${#lists.isEmpty(partyMemberOf)}">참여중인 파티가 없습니다.</h5>
                <h5 class="font-weight-light mt-3" th:if="${!#lists.isEmpty(partyMemberOf)}">참여중인 파티</h5>
                <div class="list-group" th:if="${!#lists.isEmpty(partyMemberOf)}">
                    <a href="#" th:href="@{'/party/' + ${party.path}}" th:text="${party.title}"
                       class="list-group-item list-group-item-action" th:each="party: ${partyMemberOf}">
                    Party title
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments.html :: footer"></div>
    <div th:replace="fragments.html :: date-time"></div>
</body>
</html>